@import 'reset.css';

body{
  height: 100%;
  margin : 0;
  padding : 0;
}

#wraper {
    max-width: 1920px;
    width: 100%;
}
/* HEADER */
#header{
    background-color: #1B4B5B;
    height: 100px;
    width: 100%;
    position: fixed;
    line-height: 100%;

}
/* .logo{
    position: absolute;
    left: 300px;
    margin: -65px 600px 0 0px;
} */
#header .logo img{
    width: auto;
    /* max-width: 20%; */
    height: 100px;
    float: left;
}

#header ul {
    float: right;

}
#header ul li{
    float: left;
    margin-top: 45px;

}

#header ul li a{
    text-decoration: none;
    padding: 15px;
    margin: 0 75px 0 0;
    background-color: #1B4B5B;
    color: white;
    border-radius: 15px 15px;
}

#header ul li a:hover{
    background-color: #317982;
    color: white;
}
/*REPONSIVE */
@media (max-width: 1300px) {
  .header-hamburger {
    display : block;
    width: 50px;
    height: 50px;
    background-color: red;
  }
}
.nav {
  height: 66px;
  width: 100%;
}


/*Page Acceuil*/

.acceuil{
    background-color: white;
    height: auto;
}
.background img{
  padding-top: 100px;
  height: auto;
  width: 100%;
}







/*Le Footer*/

#footer{
    background-color: lime;
}
