@import 'reset.css';

body{
  height: 100%;
  margin : 0;
  padding : 0;
}

#wraper {
    max-width: 1920px;
    width: 100%;
}
/* HEADER */
#header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+81,3f4c6b+81,3f4c6b+97,3f4c6b+97 */
  background: rgb(96,108,136); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 81%, rgba(63,76,107,1) 81%, rgba(63,76,107,1) 97%, rgba(63,76,107,1) 97%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 81%,rgba(63,76,107,1) 81%,rgba(63,76,107,1) 97%,rgba(63,76,107,1) 97%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 81%,rgba(63,76,107,1) 81%,rgba(63,76,107,1) 97%,rgba(63,76,107,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    height: 100px;
    width: 100%;
    position: fixed;
    line-height: 100%;
}
.block{
  height: 100px;
  width: 100%;
  /* background-color: red; */
}
/* .logo{
    position: absolute;
    left: 300px;
    margin: -65px 600px 0 0px;
} */
#header .logo img{
    width: auto;
    /* max-width: 20%; */
    height: 100px;
    padding-left: 10px;
    float: left;
}

#header ul {
    float: right;

}
#header ul li{
    float: left;
    margin-top: 45px;

}

#header ul li a{
    text-decoration: none;
    padding: 15px;
    margin: 0 10px 0 0;
    background-color: #1B4B5B;
    color: white;
    border-radius: 15px 15px;
    font-size: 1.3em;

}

#header ul li a:hover{
    background-color: #317982;
    color: white;
}
.nav {
  height: 66px;
  width: 100%;
}
/*REPONSIVE */
/* @media (max-width: 1300px) {
  .header-hamburger {
    display : block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 5px;
    float: right;
  }
  .header-hamburger:after{
    content:'';
    position: absolute;
    display: block;
    width: 16px;
    height: 0px;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }


  .nav{
    position : absolute;
    right : 0;
    width: 200px;
    top: 50px;
    bottom : 0;
    background-color: #1B4B5B;
    overflow: hidden;
    height: 600px;
  }
  .nav a {
    display: block;
    left: 50px;
    text-align: right;
    transform: translateX(50px);
  }

} */

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 1031px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}
  #header{
    display: none;
  }
  .block{
    height: 54px;
    width: 100%;
    /* background-color: red; */
  }

  #header img{
    /* display: none; */
  }

	.slicknav_menu {
		display:block;
    position: fixed;
    width: 100%;
	}
}



/*Page Acceuil*/

.acceuil{
    background-color: white;
    height: auto;
}
.background img{
  height: auto;
  width: 100%;
}







/*Le Footer*/

#footer{
    background-color: lime;
}
